<!DOCTYPE html>
<html ng-app='nodeapp'>

<head>
    <title>Node App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <link href="/css/flat-ui.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="shortcut icon" href="/img/favicon.ico">
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Node App</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="../navbar-fixed-top/">Admin login</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <!-- Blog Post Content Column -->
            <div class="col-lg-9">
                <!-- Blog Post -->
                <!-- Title -->
                <h3>Node App</h3>
                <!-- Author -->
                <p class="lead">
                	A simple app to share something with world! 
                </p>

                <input class="btn btn-default" type="button" value="Post a Message">
                <input class="btn btn-default" type="button" value="Search Message">
                <input class="btn btn-default" type="button" value="Refresh">
                <hr>
                <table class="table table-condensed" ng-controller="postCtrl">
                    <thead>
                        <tr>
                            <th>Content</th>
                            <th>Creator</th>
                            <th>Created At</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="post in postList">
                            <td>{{ post.content }}</td>
                            <td>{{ post.creator }}</td>
                            <td>{{ post.created_at }}</td>
                        </tr>
                    </tbody>
                </table>


            </div>



            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-3">
 
        	    <h5>Post a Message:</h5>
        	    <form id="post_form" role="form">
        	        <div class="form-group">
        	            <textarea id="content" class="form-control" name="content" rows="3"></textarea>
        	        </div>
        	        <div class="form-group">
        	              <input type="text" id="creator" class="form-control" name="creator" placeholder="Your Name (optional)">
        	        </div>
        	        <button type="submit" id="submit" class="btn btn-primary">Submit</button>
        	    </form>
            	<hr>

                <!-- Blog Search Well -->
                <h4>Message Search</h4>
                <div class="input-group">
                    <input type="text" class="form-control">
                    <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                    </span>
                </div>
                <!-- /.input-group -->

            </div>
        </div>
        <!-- /.row -->
        <hr>
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Zhiheng Yi</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>
    </div>
    <!-- /.container -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="/js/formvalidation.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
</body>

</html>
